In [1]:
import pandas as pd
patients = pd.read_csv("Patient Matching Data.csv")

In [2]:
patients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cleanPatients = patients.drop(["GroupID", "PatientID", "MI"], axis =1)
cleanPatients.head()

,Patient Acct #,First Name,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,Current City,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,247028705-7,Sutton,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,NaN,Suttin,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,Fresno,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,247028705-7,Sutton,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Sutton,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,Fresno,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,SUTTON,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,FRESNO,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def validateAcc(acc):
    if len(str(acc)) != 11:
        return (float('NaN'))
    else:
        if acc[9] != "-":
            return (float('NaN'))
        else:
            return acc

cleanPatients["Patient Acct #"] = cleanPatients["Patient Acct #"].apply(validateAcc)

In [5]:
cleanPatients.head(30)

,Patient Acct #,First Name,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,Current City,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,247028705-7,Sutton,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,NaN,Suttin,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,Fresno,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,247028705-7,Sutton,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Sutton,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,Fresno,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,SUTTON,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,FRESNO,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Sutton,Powers,12/15/2000,Female,1619 Maple Lane,NaN,Fresno,California,93726.0,Sutton,NaN,Lore,NaN,NaN,NaN,NaN,NaN
6,NaN,Sutton,Powers,12/15/2000,Female,1619 Maple Lane,NaN,Fresno,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,757393348-7,Mikel,Trayton,9/20/2000,Male,715 Jana Point,NaN,Apache Junction,Arizona,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0
8,757393348-7,Mikel,Trayton,9/20/2000,Male,715 Jana Point,NaN,Apache Junction,Arizona,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0
9,757393348-7,Michael,Trayton,9/20/2000,Male,715 Jana Point,NaN,Apache Junction,AZ,85219.0,NaN,NaN,NaN,81089 Kenwood Park,7,Chattanooga,Tennessee,37416.0
10,NaN,Mike,Trayton,9/2/2000,Male,715 Jana Point,NaN,Apache Junction,Arizona,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,757393348-7,Mikel,Trayton,9/20/2000,Male,715 Jana Point,NaN,Apache Junction,Arizona,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Mikel,Trayton,9/20/2000,Female,715 Jana Point,DO NOT MAIL,Apache Junction,AZ,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,930819916-0,Dalia,Bibb,12/7/1939,Female,78 Talmadge Drive,NaN,Jamaica,NY,11447.0,NaN,NaN,NaN,389 Hollow Ridge Pass,Ste 24,Macon,Georgia,31205.0
14,NaN,Dalia,Bibb,12/7/1939,Female,78 Talmadge Drive,NaN,Jamaica,New York,11447.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,887103871-1,Myrvyn,Buddock,4/11/1946,Male,264 Judy Pass,NaN,Anaheim,California,92812.0,NaN,NaN,NaN,02 Sauthoff Park,# 587,Cincinnati,Ohio,45208.0
16,NaN,Mervin,Buddock,4/11/1946,Male,264 Judy Pass,NaN,Anaheim,CA,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Myrvin,Buddock,4/11/1946,Male,264 Judy Pass,NaN,Anaheim,California,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Mervyn,Buddock,4/11/1946,Male,264 Judy Pass,NaN,Anaheim,California,92812.0,NaN,NaN,NaN,02-Sauthoff Park,Apt 587,Cincinnati,Ohio,45208.0
19,NaN,Mervin,Buddock,12/15/2000,Male,251030 Golf Bolling,NaN,Anaheim,California,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,146899396-8,Cammy,Windless,4/18/1984,Female,142 Summer Ridge Place,NaN,Fresno,California,93709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Cam,Windless,4/18/1984,Female,142 Summer Ridge Place,NaN,Fresno,CA,93709.0,Cam,NaN,Windless,NaN,NaN,NaN,NaN,NaN
22,NaN,Cameron,Windles,4/18/1984,Female,142 Summer Ridge Place,NaN,Fresno,California,93709.0,NaN,NaN,NaN,1 Merchant Hill,3539,Brooklyn,New York,11220.0
23,075148803-8,Elenore,MacDonnell,12/16/1950,Female,549 Pearson Plaza,NaN,Atlanta,Georgia,31106.0,NaN,NaN,NaN,170 Hanson Alley,# 5096,El Paso,Texas,88535.0
24,075148803-8,Elenor,McDonnell,12/6/1950,Female,549 Pearson Plaza,NaN,Atlanta,GA,31106.0,Elenor,Judith,McDonnell,NaN,NaN,NaN,NaN,NaN
25,075148803-8,Elenora,MacDonel,12/16/1950,Female,549 Pearson Plaza,NaN,Atlanta,Georgia,31106.0,NaN,NaN,NaN,170 Hanson Alley Ste 5096,NaN,El Paso,Texas,88535.0
26,111421375-6,Janet,Biasini,9/28/1949,Female,9083 Pennsylvania Parkway,NaN,Raleigh,North Carolina,27615.0,NaN,NaN,NaN,7350 Calypso Alley,263,Youngstown,Ohio,44511.0
27,NaN,Janet,Bisini,9/28/1949,Female,9083 Pennsylvania Parkway,NaN,Raleigh,North Carolina,27615.0,Janet,NaN,Thompsen,7350 Calypso Alley,263,Youngstown,Ohio,44511.0
28,303748859-X,Darby,Steinson,6/14/1991,Male,1587 Shopko Parkway Apt 200,NaN,Houston,Texas,77035.0,NaN,NaN,NaN,4 Morningstar Drive,3,Los Angeles,California,90060.0
29,NaN,Darbie,Steiinson,6/14/1991,Male,1587 Shopko Parkway,Apt 200,Houston,Texas,77035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
tokenized_name = cleanPatients['First Name'].apply(lambda x: x.split())

tokenized_name.head()

0    [Sutton]
1    [Suttin]
2    [Sutton]
3    [Sutton]
4    [SUTTON]
Name: First Name, dtype: object

In [8]:
from nltk import PorterStemmer

ps = PorterStemmer()

tokenized_name = tokenized_name.apply(lambda x: [ps.stem(i) for i in x])

tokenized_name.head()

0    [sutton]
1    [suttin]
2    [sutton]
3    [sutton]
4    [sutton]
Name: First Name, dtype: object

In [9]:
tokenized_name.head(40)

0      [sutton]
1      [suttin]
2      [sutton]
3      [sutton]
4      [sutton]
5      [sutton]
6      [sutton]
7       [mikel]
8       [mikel]
9     [michael]
10       [mike]
11      [mikel]
12      [mikel]
13      [dalia]
14      [dalia]
15     [myrvyn]
16     [mervin]
17     [myrvin]
18     [mervyn]
19     [mervin]
20      [cammi]
21        [cam]
22    [cameron]
23     [elenor]
24     [elenor]
25    [elenora]
26      [janet]
27      [janet]
28      [darbi]
29      [darbi]
30    [maynard]
31    [maynard]
32    [maynard]
33    [maynard]
34       [dant]
35       [dant]
36       [rena]
37    [annetta]
38        [ann]
39     [annett]
Name: First Name, dtype: object

In [ ]:
 def lowerstr(string):
        return(string.lower())
    
cleanPatients["First Name"] = cleanPatients['First Name'].apply(lowerstr)
cleanPatients["Last Name"] = cleanPatients['Lat Name'].apply(lowerstr)

cleanPatients.head()

In [12]:
# https://gist.github.com/rogerallen/1583593
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [13]:
def convert_state(state):
    if state in us_state_abbrev:
        return us_state_abbrev[state]
    
    return state

cleanPatients["Current State"] = cleanPatients["Current State"].apply(convert_state)
cleanPatients["Previous State"] = cleanPatients["Previous State"].apply(convert_state)

In [15]:
cleanPatients["Current State"].value_counts()

CA      35
AZ      21
TX      21
WA      13
NM       9
UT       9
SC       8
HI       6
NC       6
PA       6
OH       6
MD       5
NY       5
WI       5
MA       5
VA       4
KY       4
MI       4
NE       3
OK       3
OR       3
GA       3
CO       2
ME       2
MN       1
Main     1
FL       1
PR       1
CT       1
Name: Current State, dtype: int64

In [16]:
cleanPatients["Previous State"].value_counts()

TX    13
OH    10
CA     9
OK     8
AZ     6
FL     5
NY     5
GA     5
IA     4
TN     3
AL     3
SC     2
PA     2
MN     2
HI     1
KY     1
NC     1
IL     1
CT     1
Name: Previous State, dtype: int64

In [17]:
def get_soundex(token):
    """Get the soundex code for the string"""
    token = token.upper()

    soundex = ""
    
    # first letter of input is always the first letter of soundex
    soundex += token[0]
    
    # create a dictionary which maps letters to respective soundex codes. Vowels and 'H', 'W' and 'Y' will be represented by '.'
    dictionary = {"BFPV": "1", "CGJKQSXZ":"2", "DT":"3", "L":"4", "MN":"5", "R":"6", "AEIOUHWY":"."}

    for char in token[1:]:
        for key in dictionary.keys():
            if char in key:
                code = dictionary[key]
                if code != soundex[-1]:
                    soundex += code

    # remove vowels and 'H', 'W' and 'Y' from soundex
    soundex = soundex.replace(".", "")
    
    # trim or pad to make soundex a 4-character code
    soundex = soundex[:4].ljust(4, "0")
        
    return soundex