In [804]:
import pandas as pd
patients = pd.read_csv("Patient Matching Data.csv")

In [805]:
patients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [806]:
cleanPatients = patients
cleanPatients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [807]:
def validateAcc(acc):
    if len(str(acc)) != 11:
        return ''
    else:
        if acc[9] != "-":
            return ''
        else:
            return acc

cleanPatients["Patient Acct #"] = cleanPatients["Patient Acct #"].apply(validateAcc)

In [808]:
cleanPatients.head(30)

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,6,,Sutton,NaN,Powers,12/15/2000,Female,1619 Maple Lane,NaN,...,California,93726.0,Sutton,NaN,Lore,NaN,NaN,NaN,NaN,NaN
6,2,7,,Sutton,NaN,Powers,12/15/2000,Female,1619 Maple Lane,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,8,757393348-7,Mikel,L,Trayton,9/20/2000,Male,715 Jana Point,NaN,...,Arizona,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0
8,3,9,757393348-7,Mikel,Lee,Trayton,9/20/2000,Male,715 Jana Point,NaN,...,Arizona,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0
9,3,10,757393348-7,Michael,NaN,Trayton,9/20/2000,Male,715 Jana Point,NaN,...,AZ,85219.0,NaN,NaN,NaN,81089 Kenwood Park,7,Chattanooga,Tennessee,37416.0
10,3,11,,Mike,NaN,Trayton,9/2/2000,Male,715 Jana Point,NaN,...,Arizona,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3,12,757393348-7,Mikel,NaN,Trayton,9/20/2000,Male,715 Jana Point,NaN,...,Arizona,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3,13,,Mikel,L,Trayton,9/20/2000,Female,715 Jana Point,DO NOT MAIL,...,AZ,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4,14,930819916-0,Dalia,NaN,Bibb,12/7/1939,Female,78 Talmadge Drive,NaN,...,NY,11447.0,NaN,NaN,NaN,389 Hollow Ridge Pass,Ste 24,Macon,Georgia,31205.0
14,4,15,,Dalia,NaN,Bibb,12/7/1939,Female,78 Talmadge Drive,NaN,...,New York,11447.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,5,16,887103871-1,Myrvyn,NaN,Buddock,4/11/1946,Male,264 Judy Pass,NaN,...,California,92812.0,NaN,NaN,NaN,02 Sauthoff Park,# 587,Cincinnati,Ohio,45208.0
16,5,17,,Mervin,T,Buddock,4/11/1946,Male,264 Judy Pass,NaN,...,CA,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5,18,,Myrvin,NaN,Buddock,4/11/1946,Male,264 Judy Pass,NaN,...,California,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5,19,,Mervyn,NaN,Buddock,4/11/1946,Male,264 Judy Pass,NaN,...,California,92812.0,NaN,NaN,NaN,02-Sauthoff Park,Apt 587,Cincinnati,Ohio,45208.0
19,6,20,,Mervin,NaN,Buddock,12/15/2000,Male,251030 Golf Bolling,NaN,...,California,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7,21,146899396-8,Cammy,NaN,Windless,4/18/1984,Female,142 Summer Ridge Place,NaN,...,California,93709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,7,22,,Cam,NaN,Windless,4/18/1984,Female,142 Summer Ridge Place,NaN,...,CA,93709.0,Cam,NaN,Windless,NaN,NaN,NaN,NaN,NaN
22,7,23,,Cameron,NaN,Windles,4/18/1984,Female,142 Summer Ridge Place,NaN,...,California,93709.0,NaN,NaN,NaN,1 Merchant Hill,3539,Brooklyn,New York,11220.0
23,8,24,075148803-8,Elenore,NaN,MacDonnell,12/16/1950,Female,549 Pearson Plaza,NaN,...,Georgia,31106.0,NaN,NaN,NaN,170 Hanson Alley,# 5096,El Paso,Texas,88535.0
24,8,25,075148803-8,Elenor,NaN,McDonnell,12/6/1950,Female,549 Pearson Plaza,NaN,...,GA,31106.0,Elenor,Judith,McDonnell,NaN,NaN,NaN,NaN,NaN
25,8,26,075148803-8,Elenora,NaN,MacDonel,12/16/1950,Female,549 Pearson Plaza,NaN,...,Georgia,31106.0,NaN,NaN,NaN,170 Hanson Alley Ste 5096,NaN,El Paso,Texas,88535.0
26,9,27,111421375-6,Janet,NaN,Biasini,9/28/1949,Female,9083 Pennsylvania Parkway,NaN,...,North Carolina,27615.0,NaN,NaN,NaN,7350 Calypso Alley,263,Youngstown,Ohio,44511.0
27,9,28,,Janet,NaN,Bisini,9/28/1949,Female,9083 Pennsylvania Parkway,NaN,...,North Carolina,27615.0,Janet,NaN,Thompsen,7350 Calypso Alley,263,Youngstown,Ohio,44511.0
28,10,29,303748859-X,Darby,NaN,Steinson,6/14/1991,Male,1587 Shopko Parkway Apt 200,NaN,...,Texas,77035.0,NaN,NaN,NaN,4 Morningstar Drive,3,Los Angeles,California,90060.0
29,10,30,,Darbie,NaN,Steiinson,6/14/1991,Male,1587 Shopko Parkway,Apt 200,...,Texas,77035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [809]:
tokenized_name = cleanPatients['First Name'].apply(lambda x: x.split())

tokenized_name.head()

0    [Sutton]
1    [Suttin]
2    [Sutton]
3    [Sutton]
4    [SUTTON]
Name: First Name, dtype: object

In [810]:
from nltk import PorterStemmer

ps = PorterStemmer()

tokenized_name = tokenized_name.apply(lambda x: [ps.stem(i) for i in x])

tokenized_name.head()

0    [sutton]
1    [suttin]
2    [sutton]
3    [sutton]
4    [sutton]
Name: First Name, dtype: object

In [811]:
tokenized_name.head(40)

0      [sutton]
1      [suttin]
2      [sutton]
3      [sutton]
4      [sutton]
5      [sutton]
6      [sutton]
7       [mikel]
8       [mikel]
9     [michael]
10       [mike]
11      [mikel]
12      [mikel]
13      [dalia]
14      [dalia]
15     [myrvyn]
16     [mervin]
17     [myrvin]
18     [mervyn]
19     [mervin]
20      [cammi]
21        [cam]
22    [cameron]
23     [elenor]
24     [elenor]
25    [elenora]
26      [janet]
27      [janet]
28      [darbi]
29      [darbi]
30    [maynard]
31    [maynard]
32    [maynard]
33    [maynard]
34       [dant]
35       [dant]
36       [rena]
37    [annetta]
38        [ann]
39     [annett]
Name: First Name, dtype: object

In [812]:
 def lowerstr(string):
        return(str(string).lower())
    
cleanPatients["First Name"] = cleanPatients['First Name'].apply(lowerstr)
cleanPatients["Last Name"] = cleanPatients['Last Name'].apply(lowerstr)

cleanPatients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,sutton,J,power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,,suttin,James,power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,sutton,J,power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,,sutton,NaN,power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,,sutton,NaN,power,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [813]:
# Maps letters to phonetic groups
soundex_map = { 
    **dict.fromkeys("BFPV", '1'),
    **dict.fromkeys("CGJKQSXZ", '2'),
    **dict.fromkeys("DT", '3'),
    **dict.fromkeys("L", '4'),
    **dict.fromkeys("MN", '5'),
    **dict.fromkeys("R", '6'),
    **dict.fromkeys("AEIOUHWY", '.'),
}

soundex_map["J"]

'2'

In [814]:
def get_soundex(token):
    """Get the soundex code for the string"""
    token = token.upper()

    # first letter of input is always the first letter of soundex
    soundex = token[0]
    
    for char in token[1:]:
            code = soundex_map[char]
            if code != soundex[-1]:
                soundex += code

    # remove vowels and 'H', 'W' and 'Y' from soundex
    soundex = soundex.replace(".", "")
    
    # trim or pad to make soundex a 4-character code
    soundex = soundex[:4].ljust(4, "0")
        
    return soundex

get_soundex("Maine")

'M500'

In [815]:
# https://gist.github.com/rogerallen/1583593
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [816]:
get_soundex("Main")

'M500'

In [817]:
print(get_soundex("Sutton"), get_soundex("Suttin"))

S350 S350

In [818]:
def convert_state_code(state):
    if state in abbrev_us_state:
        return abbrev_us_state[state]
    
    return state

In [819]:
cleanPatients["Current State"].value_counts()

California        29
Arizona           18
Texas             15
WA                13
South Carolina     8
New Mexico         8
Utah               6
TX                 6
CA                 6
Ohio               6
Maryland           5
Hawaii             5
Massachusetts      5
North Carolina     5
Wisconsin          4
Kentucky           4
UT                 3
PA                 3
Michigan           3
AZ                 3
New York           3
Pennsylvania       3
Georgia            2
NY                 2
Colorado           2
Oklahoma           2
Maine              2
Oregon             2
Nebraska           2
Virginia           2
VA                 2
GA                 1
NM                 1
OK                 1
OR                 1
HI                 1
Main               1
CT                 1
WI                 1
MI                 1
NC                 1
PR                 1
MN                 1
Florida            1
NE                 1
Name: Current State, dtype: int64

In [820]:
cleanPatients["Previous State"].value_counts()

Texas             8
Ohio              8
California        7
Oklahoma          7
Arizona           6
Georgia           5
New York          5
Florida           5
TX                5
Iowa              3
Tennessee         3
CA                2
Alabama           2
OH                2
Minnesota         2
South Carolina    2
Pennsylvania      2
Kentucky          1
AL                1
Connecticut       1
North Carolina    1
Hawaii            1
Illinois          1
OK                1
IA                1
Name: Previous State, dtype: int64

In [821]:
cleanPatients['Current Street 2'].value_counts()

117              3
Apt 2            2
3                2
Apt 200          1
DO NOT MAIL      1
#2               1
1098             1
#1412            1
Apt 4            1
Apartment 569    1
4                1
Apt 1098         1
APT 2            1
Name: Current Street 2, dtype: int64

In [822]:
import re
def convert_address_2(address):
    address = str(address).lower()
    apt_no = re.match("(apt|apartment)?\s*#?\s*(\d+)", address)
    
    return apt_no.group(2) if apt_no else ''

cleanPatients['Current Street 2'] = cleanPatients['Current Street 2'].apply(convert_address_2)
cleanPatients['Current Street 2'].value_counts()

        185
2         4
117       3
1098      2
4         2
3         2
200       1
569       1
1412      1
Name: Current Street 2, dtype: int64

In [823]:
cleanPatients["First Name"].value_counts()

worthington    7
cheston        7
pasquale       7
byrom          6
sutton         6
              ..
elenor         1
konstentin     1
karlota        1
t-jay          1
kimberly       1
Name: First Name, Length: 99, dtype: int64

In [824]:
cleanPatients['Previous Street 2'] = cleanPatients['Previous Street 2'].apply(convert_address_2)
cleanPatients['Previous Street 2'].value_counts()

         140
56         5
9          5
61395      3
4726       3
401        3
7          3
15504      2
84923      2
615        2
587        2
96         2
5833       2
3          2
1910       2
263        2
97372      2
873        2
5          2
3720       1
66911      1
242        1
954        1
5096       1
379        1
42         1
30281      1
139        1
674        1
31         1
12         1
81923      1
2577       1
3539       1
Name: Previous Street 2, dtype: int64

In [825]:
street_abv = {
    "ave": "avenue",
    "ln": "lane",
    "st": "street",
    "dr": "drive",
    "rd": "road",
    "cir": "circle",
    "pt": "point",
    "pkway": "parkway",
    "ct": "court",
}

In [826]:
import string
def clean_address(address):
    address = str(address).lower()
    table = str.maketrans(dict.fromkeys(string.punctuation))
    
    address = address.translate(table)
    
    if address == 'nan':
        return ''
    
    tokens = address.split()
    if len(tokens) >= 3:
        if tokens[-1] in street_abv:
            tokens[-1] = street_abv[tokens[-1]]
        return " ".join(tokens)
    
    return address

cleanPatients["Current Street 1"] = cleanPatients["Current Street 1"].apply(clean_address)
print(cleanPatients["Current Street 1"].value_counts().to_string())

                               11
61256 merrick place             8
715 jana point                  6
79 graceland junction           5
78169 8th lane                  5
05342 sunfield drive            5
37300 talisman road             5
85 stuart crossing              5
264 judy pass                   4
59 summer ridge court           4
1858 sullivan parkway           4
12405 teiter heights e          4
49727 caliangt alley            4
2729 springs junction           4
90841 crest line center         4
474 annamark avenue             3
334 pearson lane                3
14 cardinal terrace             3
84732 sirenhill                 3
15 first                        3
83940 dragonfruit               3
942 homewood street             3
549 pearson plaza               3
142 summer ridge place          3
10 memorial road                3
030 golf hill                   3
9 bellgrove street              3
1 bowman junction               3
057 manitowish parkway          3
84093 lemon                     3
39148 service circle            3
987 loomis junction             3
66 pierstorff avenue            3
7 forest run parkway            3
05 eagan hill                   3
1619 78th road                  2
15424 jeffies lane              2
1619 maple lane                 2
12 winter ridge drive           2
82305 washington drive          2
97576 parkside place            2
45863 gerald pass               2
485 hanson street               2
78 talmadge drive               2
99 buena vista street           2
9083 pennsylvania parkway       2
132 chocolate circle            2
485 hanson street e             1
212 bluejay way                 1
485 hanson street east          1
61256 merick place              1
97576 parkside pl               1
987 lomis junction              1
30 golf hill                    1
9 ballgrove street              1
15023rd ave                     1
1619 78th roed                  1
057 mantowish parkway           1
637 ryan crossing               1
37300 tallisman road            1
8178 talismen center            1
16595 city view lane            1
211 bluejay way                 1
1511 meadow view drive          1
38493 crust circle lane         1
10 memorial street              1
59 summer rige court            1
05352 sunfield drive            1
9154 city view street           1
1859 sullivan parkway           1
4454 spadafore drive            1
23 lychee                       1
1587 shopko parkway apt 200     1
14 cardinal terace              1
1587 shopko parkway             1
8178 talisman center e          1
59 sumer ridge court            1
9 belgrove street               1
90841 crest line circle         1
1619 78th rode                  1
8178 talisman center            1
23 lyche                        1
38148 service circle            1
9850 kelso road                 1
251030 golf bolling             1
132 choccolate circle           1

In [827]:
cleanPatients["Previous Street 1"] = cleanPatients["Previous Street 1"].apply(clean_address)
print(cleanPatients["Previous Street 1"].value_counts().to_string())

                                   121
5 sloan crossing                     4
121 emmet way                        3
81089 kenwood park                   3
700 roth hill                        3
9 melby alley                        3
8305 park meadow crossing            3
226 loomis place                     3
9835 jay road                        3
451 vahlen park                      3
96 helena crossing                   3
1778 helena parkway                  3
1432 kings avenue                    2
7350 calypso alley                   2
769 calypso drive                    2
6 charing cross court                2
04125 northport hill                 2
2 erie crossing                      2
94007 golf course hill               2
380 gerald terrace                   2
450 birchwood way                    2
64214 oneill lane                    1
02sauthoff park                      1
4004 fulton junction                 1
04125 north hill                     1
764 kipling trail                    1
99 buena vista street                1
2 veith trail                        1
64214 oneil lane                     1
6 russell crossing                   1
2614 frosty lane                     1
769 calipso drive                    1
170 hanson alley                     1
4 morningstar drive                  1
389 hollow ridge pass                1
1 merchant hill                      1
6 charing cross court apt 15504      1
4519 brentwood road                  1
6944 spohn drive                     1
628 portage street                   1
170 hanson alley ste 5096            1
1778 helena parkway apt 56           1
700 roth hill apt1910                1
1 mockingbird pass                   1
94007 golf course hill apt 139       1
4004 fulton junction apt2577         1
02 sauthoff park                     1
1691 dahle point                     1
3547 hoiker lane                     1

In [828]:
def clean_sex(sex):
    sex = str(sex).lower()
    
    if sex and sex[0] == 'm':
        return 'm'
    elif sex and sex[0] == 'f':
        return 'f'
    
    return ''

In [829]:
cleanPatients["Sex"] = cleanPatients["Sex"].apply(clean_sex)

cleanPatients["Sex"].value_counts()

f    106
m     80
      15
Name: Sex, dtype: int64

In [830]:
# Maps letters to phonetic groups
soundex_map = { 
    **dict.fromkeys("BFPV", '1'),
    **dict.fromkeys("CGJKQSXZ", '2'),
    **dict.fromkeys("DT", '3'),
    **dict.fromkeys("L", '4'),
    **dict.fromkeys("MN", '5'),
    **dict.fromkeys("R", '6'),
    **dict.fromkeys("AEIOUHWY", '.'),
}

soundex_map["J"]

'2'

In [831]:
def get_soundex(token):
    """Get the soundex code for the string"""
    token = token.upper()

    # first letter of input is always the first letter of soundex
    soundex = token[0]
    
    for char in token[1:]:
            code = soundex_map[char]
            if code != soundex[-1]:
                soundex += code

    # remove vowels and 'H', 'W' and 'Y' from soundex
    soundex = soundex.replace(".", "")
    
    # trim or pad to make soundex a 4-character code
    soundex = soundex[:4].ljust(4, "0")
        
    return soundex

get_soundex("Maine")

'M500'

In [832]:
print(get_soundex("Mervin"))
print(get_soundex("Mikel"))
print(get_soundex("Mikel"))
print(get_soundex("Michael"))
print(get_soundex("Mike"))

M615
M240
M240
M240
M200

In [833]:
soundex_map["Z"]

'2'

In [834]:

from metaphone import doublemetaphone
from enum import Enum

class Threshold(Enum):
    WEAK = 0
    NORMAL = 1
    STRONG = 2

def double_metaphone(value):
    #print(doublemetaphone(value))
    return doublemetaphone(value)

#(Primary Key = Primary Key) = Strongest Match
#(Secondary Key = Primary Key) = Normal Match
#(Primary Key = Secondary Key) = Normal Match
#(Alternate Key = Alternate Key) = Minimal Match
def double_metaphone_compare(tuple1,tuple2,threshold):
    if threshold == Threshold.WEAK:
        if tuple1[1] == tuple2[1]:
            return True
    elif threshold == Threshold.NORMAL:
        if tuple1[0] == tuple2[1] or tuple1[1] == tuple2[0]:
            return True
    else:
        if tuple1[0] == tuple2[0]:
            return True
    return False

In [835]:
def getMetaphone(string):
    met = double_metaphone(string)
    return met[0]
cleanPatients["metFirst"] = cleanPatients["First Name"].apply(getMetaphone)

In [836]:
cleanPatients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,metFirst
0,1,1,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,2 erie crossing,9,Mount Vernon,New York,10557.0,STN
1,1,2,,suttin,James,power,9/21/1945,m,1859 sullivan parkway,2,...,93726.0,NaN,NaN,NaN,2 erie crossing,9,Mount Vernon,New York,10557.0,STN
2,1,3,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN
3,1,4,,sutton,NaN,power,9/20/1954,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN
4,1,5,,sutton,NaN,power,9/20/1954,m,1858 sullivan parkway,2,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN

In [837]:
cleanPatients.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,metFirst
0,1,1,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,2 erie crossing,9,Mount Vernon,New York,10557.0,STN
1,1,2,,suttin,James,power,9/21/1945,m,1859 sullivan parkway,2,...,93726.0,NaN,NaN,NaN,2 erie crossing,9,Mount Vernon,New York,10557.0,STN
2,1,3,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN
3,1,4,,sutton,NaN,power,9/20/1954,m,1858 sullivan parkway,,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN
4,1,5,,sutton,NaN,power,9/20/1954,m,1858 sullivan parkway,2,...,93726.0,NaN,NaN,NaN,,,NaN,NaN,NaN,STN

In [838]:
def clean_names(name):
    if name == 'nan':
        return ''
    return name

cleanPatients['First Name'] = cleanPatients['First Name'].apply(clean_names)
cleanPatients['Last Name'] = cleanPatients['Last Name'].apply(clean_names)

def clean_middle_name(name):
    if str(name) == 'nan' or not name:
        return ''
    return name[0]

cleanPatients['MI'] = cleanPatients['MI'].apply(clean_middle_name)

cleanPatients["names"] = cleanPatients['First Name'].fillna('') + ' ' + cleanPatients['MI'] + ' ' + cleanPatients['Last Name']
cleanPatients["names"] = cleanPatients['names'].apply(lambda x: x.strip())

In [839]:
def convert_state(state):
    if str(state).lower() == 'nan':
        return ''
    if len(state) == 2:
        return state
    if state not in us_state_abbrev:
        max_score = 0
        max_state = ""
        state_met = double_metaphone(state)
        for key in us_state_abbrev.keys():
            key_met = double_metaphone(key)

            name_scores = []
            if double_metaphone_compare(state_met, key_met, Threshold.STRONG):
                state = key
                break

            score = fuzz.token_sort_ratio(state, key)
            if score > max_score:
                max_state = key
                max_score = score
        state = max_state
        
    return us_state_abbrev[state]

cleanPatients["Current State"] = cleanPatients["Current State"].apply(convert_state)
cleanPatients["Previous State"] = cleanPatients["Previous State"].apply(convert_state)

In [840]:
from math import isnan
def convert_zip(z):
    if isnan(z):
        return ''
    
    return str(int(z))

    
cleanPatients['Current Zip Code'] = cleanPatients['Current Zip Code'].apply(convert_zip)
cleanPatients['Previous Zip Code'] = cleanPatients['Previous Zip Code'].apply(convert_zip)

cleanPatients['Current Zip Code'].head()

0    93726
1    93726
2    93726
3    93726
4    93726
Name: Current Zip Code, dtype: object

In [841]:
cleanPatients["address"] = cleanPatients['Current Street 1'].fillna('') + ' ' + cleanPatients['Current Street 2'] + ' '\
    + cleanPatients['Current City'].fillna('') + ' ' + cleanPatients['Current State'].fillna('') + ' '\
    + cleanPatients['Current Zip Code']
cleanPatients["address"] = cleanPatients["address"].apply(lowerstr)
cleanPatients["address"] = cleanPatients['address'].apply(lambda x: x.strip())
cleanPatients.head(70)

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,metFirst,names,address
0,1,1,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,NaN,NaN,2 erie crossing,9,Mount Vernon,NY,10557,STN,sutton J power,1858 sullivan parkway fresno ca 93726
1,1,2,,suttin,J,power,9/21/1945,m,1859 sullivan parkway,2,...,NaN,NaN,2 erie crossing,9,Mount Vernon,NY,10557,STN,suttin J power,1859 sullivan parkway 2 fresno ca 93726
2,1,3,247028705-7,sutton,J,power,9/20/1945,m,1858 sullivan parkway,,...,NaN,NaN,,,NaN,,,STN,sutton J power,1858 sullivan parkway fresno ca 93726
3,1,4,,sutton,,power,9/20/1954,m,1858 sullivan parkway,,...,NaN,NaN,,,NaN,,,STN,sutton power,1858 sullivan parkway fresno ca 93726
4,1,5,,sutton,,power,9/20/1954,m,1858 sullivan parkway,2,...,NaN,NaN,,,NaN,,,STN,sutton power,1858 sullivan parkway 2 fresno ca 93726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,23,66,769916426-1,betteane,,purton,2/15/2009,f,59 summer ridge court,,...,NaN,NaN,,,NaN,,,PTN,betteane purton,59 summer ridge court akron oh 44321
66,23,67,769916426-1,beteanne,,purton,2/15/2009,f,59 sumer ridge court,,...,NaN,NaN,,,NaN,,,PTN,beteanne purton,59 sumer ridge court akron oh 44321
67,24,68,769916426-1,betteanne,,purton,2/15/2009,m,12 winter ridge drive,,...,NaN,NaN,,,NaN,,,PTN,betteanne purton,12 winter ridge drive norka co 48589
68,24,69,769916426-1,betteanne,,purton,2/15/2009,m,12 winter ridge drive,,...,NaN,NaN,,,NaN,,,PTN,betteanne purton,12 winter ridge drive norka co 48589
69,25,70,719276893-6,katharina,,stopper,3/19/1960,f,61256 merrick place,,...,NaN,NaN,96 helena crossing,61395,Cincinnati,OH,45228,K0RN,katharina stopper,61256 merrick place albuquerque nm 87190

In [842]:
cleanPatients["prev_address"] = cleanPatients['Previous City'].fillna('') + ' ' + cleanPatients['Previous State'].fillna('') + ' '\
    + cleanPatients['Previous Zip Code']
cleanPatients["prev_address"] = cleanPatients["prev_address"].apply(lowerstr)
cleanPatients["prev_address"] = cleanPatients['prev_address'].apply(lambda x: x.strip())

cleanPatients["Previous City"] = cleanPatients['Previous City'].fillna('')

In [843]:
def clean_dob(date):
    return date.replace('/', '')

cleanPatients['Date of Birth'] = cleanPatients['Date of Birth'].apply(clean_dob)
cleanPatients['Date of Birth'].head()

0    9201945
1    9211945
2    9201945
3    9201954
4    9201954
Name: Date of Birth, dtype: object

In [851]:
from fuzzywuzzy import fuzz

import numpy as np
def compare(a,b):
    scores = []
    count = 0
    
    a_name = ""
    b_name = ""
    
    if a["First Name"] and b["First Name"]:
        a_name += a["First Name"]
        b_name += b["First Name"]
    if a["MI"] and b["MI"]:
        a_name += " " + a["MI"]
        b_name += " " + b["MI"]
    if a["Last Name"] and b["Last Name"]:
        a_name += " " + a["Last Name"]
        b_name += " " + b["Last Name"]
    
    if a_name and b_name:
        a_met = double_metaphone(a_name)
        b_met = double_metaphone(b_name)
        
        name_scores = []
        if double_metaphone_compare(a_met, b_met, Threshold.STRONG):
            name_scores.append(100)
        
        name_scores.append(fuzz.token_sort_ratio(a_name, b_name))
        scores.append(max(name_scores))
    
    if a["Current Street 1"] and b["Current Street 1"]:
        scores.append(fuzz.token_sort_ratio(a["Current Street 1"], b["Current Street 1"]))
    
    if a["address"] and b["address"]:
        scores.append(fuzz.token_sort_ratio(a["address"], b["address"]))
    
    prev_address_scores = []
    if a["Previous City"] and b["Previous City"]:
        prev_address_scores.append(fuzz.token_sort_ratio(a["Previous City"], b["Previous City"]))
    if a["Previous State"] and b["Previous State"]:
        prev_address_scores.append(fuzz.token_sort_ratio(a["Previous State"], b["Previous State"]))
    if a["Previous Zip Code"] and b["Previous Zip Code"]:
        prev_address_scores.append(fuzz.token_sort_ratio(a["Previous Zip Code"], b["Previous Zip Code"]))
    
#     if prev_address_scores:
#         scores.append(np.mean(prev_address_scores))
    
    
    if a["Sex"] and b["Sex"]:
        if a["Sex"] == b["Sex"]:
            scores.append(100)
        else:
            scores.append(50)
        
    if a["Date of Birth"] and b["Date of Birth"]:
        date_score = fuzz.token_sort_ratio(a["Date of Birth"], b["Date of Birth"])
        if (date_score < 50):
            date_score = 0
        
        scores.append(date_score)
        
#     if a["Patient Acct #"] and b["Patient Acct #"]:
#         scores.append(fuzz.token_sort_ratio(a["Patient Acct #"], b["Patient Acct #"])


    return np.mean(scores)

compare(cleanPatients.loc[152], cleanPatients.loc[150])

94.75

In [845]:
fuzz.token_sort_ratio('4211950', '3191960')

43

In [852]:
cleanPatients["assigned"] = 0
cleanPatients["groupno"] = -1
groups = []
print(groups)
for index, row in cleanPatients.iterrows():
    if row['assigned'] == 1:
        continue
    else:
        for group_index, group in enumerate(groups):
            scores = []
            for x in group:
                scores.append(compare(cleanPatients.loc[x], row))
            if len(scores) > 1:
                s = sorted(scores, reverse=True)
                temp = (s[0] + s[1]) / 2
            else:
                temp = scores[0]
            if(temp > 87 ):
                cleanPatients.loc[index,"groupno"] = group_index+1
                groups[group_index].append(index)
                break
        else:
            groups.append([index])
            cleanPatients.loc[index,"groupno"] = len(groups)

[]

In [847]:

groups

[[0, 1, 2, 3, 4],
 [5, 6],
 [7, 8, 9, 10, 11, 12],
 [13, 14],
 [15, 16, 17, 18],
 [19],
 [20, 21, 22],
 [23, 24, 25],
 [26, 27],
 [28, 29],
 [30, 31, 32, 33],
 [34, 35],
 [36],
 [37, 38, 39],
 [40],
 [41, 42, 43, 44],
 [45, 46],
 [47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59],
 [60],
 [61, 62, 63, 64, 65, 66],
 [67, 68],
 [69, 70, 71, 72, 73],
 [74, 75, 76, 77],
 [78, 79, 80, 81, 82],
 [83, 84, 85],
 [86, 87, 88, 89, 90, 91],
 [92, 93],
 [94, 95, 96, 97, 98],
 [99, 100, 101],
 [102, 103, 104, 105],
 [106, 107],
 [108, 109, 110, 111, 112],
 [113],
 [114, 115, 116, 117],
 [118, 119, 120],
 [121, 122, 123, 124, 125, 126],
 [127, 128],
 [129, 130, 131, 132],
 [133, 134, 135, 136],
 [137, 138, 139, 140, 141, 142],
 [143, 144, 145],
 [146, 147, 148, 149],
 [150, 151, 152, 153],
 [154, 155, 157],
 [156],
 [158, 159, 160],
 [161, 162, 163, 164],
 [165],
 [166, 167],
 [168, 169, 170],
 [171, 172, 173, 174],
 [175, 176, 177],
 [178, 179, 181],
 [180],
 [182],
 [183, 184, 185],
 [186, 187, 188, 189],
 [190, 191, 192, 193],
 [194, 195],
 [196, 197],
 [198, 199, 200]]

In [848]:
fuzz.token_sort_ratio("may field","field may")

100

In [849]:
cleanPatients.head(158)

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Previous Street 2,Previous City,Previous State,Previous Zip Code,metFirst,names,address,prev_address,assigned,groupno
0,1,1,247028705-7,sutton,J,power,9201945,m,1858 sullivan parkway,,...,9,Mount Vernon,NY,10557,STN,sutton J power,1858 sullivan parkway fresno ca 93726,mount vernon ny 10557,0,1
1,1,2,,suttin,J,power,9211945,m,1859 sullivan parkway,2,...,9,Mount Vernon,NY,10557,STN,suttin J power,1859 sullivan parkway 2 fresno ca 93726,mount vernon ny 10557,0,1
2,1,3,247028705-7,sutton,J,power,9201945,m,1858 sullivan parkway,,...,,,,,STN,sutton J power,1858 sullivan parkway fresno ca 93726,,0,1
3,1,4,,sutton,,power,9201954,m,1858 sullivan parkway,,...,,,,,STN,sutton power,1858 sullivan parkway fresno ca 93726,,0,1
4,1,5,,sutton,,power,9201954,m,1858 sullivan parkway,2,...,,,,,STN,sutton power,1858 sullivan parkway 2 fresno ca 93726,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,46,154,,konstentin,,kort,8281939,,942 homewood street,,...,,Dayton,OH,45419,KNSTNTN,konstentin kort,942 homewood street salt lake city ut 84115,dayton oh 45419,0,45
154,47,155,570925745-1,ailsun,,dovydenas,6251937,f,1 bowman junction,,...,2577,Long Beach,CA,90810,ALSN,ailsun dovydenas,1 bowman junction austin tx 78749,long beach ca 90810,0,46
155,47,156,,alison,J,dovydenas,6251937,,1 bowman junction,,...,,Long Beach,CA,90810,ALSN,alison J dovydenas,1 bowman junction austin tx 78749,long beach ca 90810,0,46
156,47,157,884123551-1,ailsun,J,,6251937,f,,,...,,Long Beach,CA,90810,ALSN,ailsun J,austin tx 78749,long beach ca 90810,0,47
157,47,158,,ailsun,,dovydenas,6251937,f,1 bowman junction,1412,...,,Long Beach,CA,90810,ALSN,ailsun dovydenas,1 bowman junction 1412 austin tx 78749,long beach ca 90810,0,46

In [853]:
true_groups = []
for i in range(1,66):
    current_group = []
    for index, row in cleanPatients.loc[cleanPatients['GroupID'] == i].iterrows():
        current_group.append(index)
    true_groups.append(current_group)

for i, true_group in enumerate(true_groups):
    if true_group not in groups:
        if i < len(groups):
            print(true_group, groups[i])
        else:
            print(true_group)

[34] [34, 35]
[35] [36]
[121, 122, 123, 124, 125] [127, 128]
[126, 127, 128] [129, 130, 131, 132]
[178, 179, 180, 181] [180]
[196] [196, 197]
[197] [198, 199, 200]
[198]
[199]
[200]