In [ ]:
import pandas as pd
patients = pd.read_csv("Patient Matching Data.csv")

In [ ]:
patients.head()

In [ ]:
cleanPatients = patients.drop(["GroupID", "PatientID", "MI"], axis =1)
cleanPatients.head()

In [ ]:
def validateAcc(acc):
    if len(str(acc)) != 11:
        return (float('NaN'))
    else:
        if acc[9] != "-":
            return (float('NaN'))
        else:
            return acc

cleanPatients["Patient Acct #"] = cleanPatients["Patient Acct #"].apply(validateAcc)

In [ ]:
cleanPatients.head(30)

In [ ]:
tokenized_name = cleanPatients['First Name'].apply(lambda x: x.split())

tokenized_name.head()

In [ ]:
from nltk import PorterStemmer

ps = PorterStemmer()

tokenized_name = tokenized_name.apply(lambda x: [ps.stem(i) for i in x])

tokenized_name.head()

In [ ]:
tokenized_name.head(40)

In [ ]:
 def lowerstr(string):
        if type(string) != float:
            return(string.lower())
    
cleanPatients["First Name"] = cleanPatients['First Name'].apply(lowerstr)
cleanPatients.head()

In [12]:
cleanPatients["Current State"].value_counts()

CA      35
TX      21
AZ      21
WA      13
UT       9
NM       9
SC       8
NC       6
HI       6
OH       6
PA       6
WI       5
MD       5
MA       5
NY       5
KY       4
VA       4
MI       4
GA       3
OR       3
OK       3
NE       3
ME       2
CO       2
MN       1
CT       1
PR       1
Main     1
FL       1
Name: Current State, dtype: int64

In [13]:
cleanPatients["Previous State"].value_counts()

TX    13
OH    10
CA     9
OK     8
AZ     6
GA     5
NY     5
FL     5
IA     4
TN     3
AL     3
PA     2
SC     2
MN     2
NC     1
KY     1
CT     1
HI     1
IL     1
Name: Previous State, dtype: int64

In [14]:
# Maps letters to phonetic groups
soundex_map = { 
    **dict.fromkeys("BFPV", '1'),
    **dict.fromkeys("CGJKQSXZ", '2'),
    **dict.fromkeys("DT", '3'),
    **dict.fromkeys("L", '4'),
    **dict.fromkeys("MN", '5'),
    **dict.fromkeys("R", '6'),
    **dict.fromkeys("AEIOUHWY", '.'),
}

soundex_map["J"]

'2'

In [15]:
def get_soundex(token):
    """Get the soundex code for the string"""
    token = token.upper()

    # first letter of input is always the first letter of soundex
    soundex = token[0]
    
    for char in token[1:]:
            code = soundex_map[char]
            if code != soundex[-1]:
                soundex += code

    # remove vowels and 'H', 'W' and 'Y' from soundex
    soundex = soundex.replace(".", "")
    
    # trim or pad to make soundex a 4-character code
    soundex = soundex[:4].ljust(4, "0")
        
    return soundex

get_soundex("Maine")

'M500'

In [16]:
print(get_soundex("Mervin"))
print(get_soundex("Mikel"))
print(get_soundex("Mikel"))
print(get_soundex("Michael"))
print(get_soundex("Mike"))

M615
M240
M240
M240
M200

In [17]:
soundex_map["Z"]

'2'

In [19]:
def getMetaphone(string):
    met = double_metaphone(string)
    return met[0]
cleanPatients["metFirst"] = cleanPatients["First Name"].apply(getMetaphone)

('STN', '')
('STN', '')
('STN', '')
('STN', '')
('STN', '')
('STN', '')
('STN', '')
('MKL', '')
('MKL', '')
('MKL', 'MXL')
('MK', '')
('MKL', '')
('MKL', '')
('TL', '')
('TL', '')
('MRFN', '')
('MRFN', '')
('MRFN', '')
('MRFN', '')
('MRFN', '')
('KM', '')
('KM', '')
('KMRN', '')
('ALNR', '')
('ALNR', '')
('ALNR', '')
('JNT', 'ANT')
('JNT', 'ANT')
('TRP', '')
('TRP', '')
('MNRT', '')
('MNRT', '')
('MNRT', '')
('MNRT', '')
('TNT', '')
('TNT', '')
('RN', '')
('ANT', '')
('AN', '')
('ANT', '')
('ANT', '')
('RPRS', '')
('RPRT', '')
('RPRS', '')
('RPRS', '')
('TPN', '')
('TP', '')
('TMN', '')
('TMN', '')
('TMN', '')
('TMN', '')
('FRNK', 'FRNKS')
('FRNK', '')
('FRNK', 'FRNKS')
('FRNK', 'FRNKS')
('FRNK', 'FRNKS')
('TRK', '')
('TRK', '')
('TRK', '')
('TRK', '')
('TRK', '')
('PTN', '')
('PTN', '')
('PTN', '')
('PTN', '')
('PTN', '')
('PTN', '')
('PTN', '')
('PTN', '')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('K0RN', 'KTRN')
('KTRN', '')
('K0RN', 'KTRN')
('KMPRL', '')
('KMPRL', '')
('KMPRL', '')
('KMPRL', '')
('KM', '')
('KMPRL', '')
('KMPRL', '')
('KMPRL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PSKL', '')
('PRM', '')
('PRM', '')
('PRM', '')
('PRM', '')
('PRM', '')
('PRM', '')
('PRN', '')
('PRM', '')
('KRLT', '')
('KRLT', '')
('KRLT', '')
('KRLT', '')
('KRLT', '')
('KRLT', '')
('PL', '')
('PL', '')
('PL', '')
('PL', '')
('PL', '')
('PL', '')
('KRP', '')
('KRP', '')
('KRP', '')
('KRP', '')
('KRP', '')
('KRP', '')
('KRP', '')
('TM', '')
('TM', '')
('TM', '')
('TM', '')
('TM', '')
('TM', '')
('TM', '')
('TM', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('XSTN', '')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NKTN', 'FRTNKTN')
('AR0NTN', 'FRTNTN')
('R', '')
('R', '')
('R', '')
('R', '')
('KNSTNTN', '')
('KNSTNTN', '')
('KNSTNTN', '')
('KNSTNTN', '')
('ALSN', '')
('ALSN', '')
('ALSN', '')
('ALSN', '')
('TN', '')
('TN', '')
('TN', '')
('HSTNKS', '')
('MKSN', '')
('HSTNKS', '')
('HSTNKS', '')
('HSTNKS', '')
('FLR', '')
('FLR', '')
('ANMR', '')
('AN', '')
('AN', '')
('PRT', '')
('PRT', '')
('PRT', '')
('PRT', '')
('SR', '')
('SR', '')
('SR', '')
('MTSN', '')
('MT', '')
('MTSN', '')
('MTSN', '')
('MTSN', '')
('ARL', '')
('ARL', '')
('HRL', '')
('J', 'A')
('J', 'A')
('J', 'A')
('J', 'A')
('TTJJ', '')
('TTJ', '')
('TTJ', 'TT ')
('TJ', 'T ')
('TT', '')
('TM', '')
('PL', '')
('PL', '')
('SR', '')
('SR', '')
('SR', '')

In [20]:
cleanPatients.head()

,Patient Acct #,First Name,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,Current City,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,metFirst
0,247028705-7,sutton,power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,CA,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,NY,10557.0,STN
1,NaN,suttin,power,9/21/1945,Male,1859 Sullivan Parkway,#2,Fresno,CA,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,NY,10557.0,STN
2,247028705-7,sutton,power,9/20/1945,Male,1858 Sullivan Parkway,NaN,Fresno,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STN
3,NaN,sutton,power,9/20/1954,Male,1858 Sullivan Parkway,NaN,Fresno,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STN
4,NaN,sutton,power,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,FRESNO,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STN

In [21]:
from fuzzywuzzy import fuzz
#fuzz.ratio('Deluxe Room, 1 King Bed', 'Deluxe King Room')
#partial_ratio 
#token_sort_ratio

In [24]:
fuzz.partial_ratio(cleanPatients["First Name"][0], cleanPatients["First Name"][1])

83